.footer {
    margin-top: 4%;
    padding-top: 1.2em;
    padding-bottom: 1.7em;
    background-color:transparent;
    color: white;
    text-align: center;
    height: auto;
}

p {
    font-family: 'Krub', sans-serif;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;

}

span {
    font-family: 'Krub', sans-serif;
    color: #445BD8;
    font-weight: bold;
}
.icon{
    width: 50px;
}