<footer>
    <div class="footer">
        <div class="grid items">
            <div class="col-5">
                <div class="grid">
                </div>
            </div>
            <div class="col-2">
                <span>Powered by </span>
                <p>Ana Shurman</p>
                <a href="https://www.linkedin.com/in/anashurman/">
                    <img class="icon" src="../../assets/linkedin.png" alt="linkedin">
                </a>
            </div>
            <div class="col-5"></div>

        </div>
    </div>
</footer>