    <div class="grid">
        <div class="retangle">
            <div class="grid">
            <div class="col-5 p-4" style="align-self: center;">
                <div class='pata'>
                <h1 class="titulo"> <img src="../../assets/la_paw.png">BEM-VINDO</h1>
            </div>
                <div class="p-fluid">
                    <div class="field">
                        <label for="username">Username:</label>
                        <input pInputText id="username" type="text" />
                    </div>
                    <div class="field">
                        <label for="password">Password:</label>
                        <input pInputText id="password" type="password" />
                    </div>
                    <p-button  label="Login" (click)="login()"></p-button>
                </div>
            </div>
            <div class="col-1">
            <p-divider layout="vertical"></p-divider>
            </div>
            <div class="col-6">
                <img class='dog' src="../../assets/dog.png" alt="">

            </div>
        </div>
        </div>
    </div>
